body {
    background-image: url("../imagenes/M.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}

.container{
    top:10vh;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 30px 0px #2cd3c0;
}

.productos{
    
    position: fixed;
    left: 450px;
    top: 450px;
}

.materiales{
    position: fixed;
    left: 400px;
    top: 550px;
}

.btn-a{
    display: inline-block;
    margin: 35px 0px; 
    padding: 3px 20px;
    text-decoration: none;
    font-size: 50px;
}

.btn-b{
    display: inline-block;
    margin: 35px 0px; 
    padding: 3px 20px;
    text-decoration: none;
    font-size: 50px;
}

.fuente{
    font-family: fantasy;
    color:black;
}
.fondo{
    background-color: blueviolet;
    border-color: black;
    border: 1cm;
}
.alin{
    align-items: center;
}
table{
    width: 100%;
}
  
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding: 1px;
}
  
th{
    text-align: center;
}
.alinearCentro { 
    position: fixed;
    top: 10%;
    left: 7%;
}


