:root{
--morado:#6b188a;
--sky:#0000ff;
--azuldod:#4169e1;
--blanco:#000000 ;
--fuente:'Quicksand',sans-serif;
--azul:#4682b4;
}
body{
    font-family: var(--fuente);
    background-color: var(--azul);
    align-items: center;
}
.contenedor{
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.alinearCentro { 
    position: fixed;
    transform: translate(5%, 5%);
}
.formulario{
    padding: 50px;
    background-color: var(--azuldod);
}
.texto-formulario h2{
    font-size: 50px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
display: block;
font-size: 22px;
font-weight: bold;
margin: 20px 0;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    font-family: fantasy;
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
.input input[type="submit"]{
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--azul);
}
.fuente{
    font-family: fantasy;
    color:black;
}
.col1 {
    background-image: url('../imagenes/EM.png');
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 50%;
 }
 .col2 {
    border: white;
    background: grey;
    width: 35%;
    text-align: center;
 }
 .row {
   display: flex;
   width: 100%;
 }