body {
    background-image: url("../imagenes/registro.png");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:cornflowerblue;
}

  .imagenes {
    width: 50%; 
    padding: 10px;
    background-size: cover;
    float:left; 
    }
    
  .imageness {
    width: 70%;
    padding: 10px;
    background-size: cover;
    margin: 0 auto; /* Agregado para centrar horizontalmente */
    display: block; /* Agregado para centrar horizontalmente */
  }
  .video {
    width: 30%; 
    padding: 5px;
    float:right; 
    }

.letra {
  color: rgb(225, 225, 225);
  padding:20 px;
  font-size: 30px;
  text-align: center;
}  