{% extends 'plantilla.html' %}   

{% block body %}

    <h1> Album a editar: </h1>
    <br>
    <br>

    <form action="/actualizar/{{album.0}}" method="POST">

        <input type="text" name="txtTitulo" value="{{album.1}}">
        <input type="text" name="txtArtista" value="{{album.2}}">
        <input type="number" name="txtAnio" value="{{album.3}}">

        <button type="submit"> Actualizar </button>

    </form>
    <br>
    <form action="/">
        <button type="submit"> Regresar </button>
    </form>
{% endblock %}