{% extends 'plantilla.html' %}   

{% block body %}

    <div class="mt-5 mb-5">
        <h1 class="display-1 text-center">Gestion de albums</h1>
    </div>

    <div class="container">

        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                {% for msj in mensajes %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ msj }} </strong>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <script> Swal.fire('Good job!','You clicked the button!','success')</script>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-md-5">
                <div class="card card-body  mb-5">
                    <form action="/guardar" method="POST">
                        <div class="mb-3">
                            <input type="text" name="txtTitulo" placeholder="Ingresa titulo" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="txtArtista" placeholder="Ingresa artista" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="txtAnio" placeholder="Ingresa año" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-outline-primary"> Guardar </button>
                
                    </form>
                </div>
            </div>
            <div class="col-md-7 mb-5">
                <h1 class="text-center"> Albums Guardados</h1>
                    <table class="table table-striped table-bordered">
                        <thead >
                            <tr>
                                <th scope="col">ID: </th>
                                <th scope="col">Album: </th>
                                <th scope="col">Artista: </th>
                                <th scope="col">Año publicacion: </th>
                                <th colspan="2">Modificar</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for alb in listAlbums %}
                                <tr>
                                    <th scope="col"> {{alb.0}} </td>
                                    <td> {{alb.1}} </td>
                                    <td> {{alb.2}} </td>
                                    <td> {{alb.3}} </td>
                                    <td>
                                        <a href=/editar/{{alb.0}} class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                                    </td>
                                    <td>
                                        <a href=/pasar/{{alb.0}} class="btn btn-outline-danger"> <i class="bi bi-trash"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>  

    

    
{% endblock %}
