{% extends 'plantilla.html' %}   

{% block body %}
    <br>
    <br>
    <h1>Gestion de albums</h1>
    <br>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{ msj }} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <form action="/guardar" method="POST">

        <input type="text" name="txtTitulo" placeholder="Ingresa titulo">
        <input type="text" name="txtArtista" placeholder="Ingresa artista">
        <input type="number" name="txtAnio" placeholder="Ingresa año">

        <button type="submit"> Guardar </button>

    </form>
    <br>
    <br>

    <h1> Albums Guardados</h1>
    <table>
        <thead>
            <tr>
                <td>ID: </td>
                <td>Album: </td>
                <td>Artista: </td>
                <td>Año publicacion: </td>
            </tr>
        </thead>

        <tbody>
            {% for alb in listAlbums %}
                <tr>
                    <td> {{alb.0}} </td>
                    <td> {{alb.1}} </td>
                    <td> {{alb.2}} </td>
                    <td> {{alb.3}} </td>
                    <td>
                        <a href=/editar/{{alb.0}} > Editar </a>
                        <a href=/pasar/{{alb.0}}> Borrar </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
