<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Album</title>
</head>

<body>
    
    <br>
    <br>
    <h1>Gestion de albums</h1>
    <br>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{ msj }} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <form action="/guardar" method="POST">

        <input type="text" name="txtTitulo" placeholder="Ingresa titulo">
        <input type="text" name="txtArtista" placeholder="Ingresa artista">
        <input type="number" name="txtAnio" placeholder="Ingresa año">

        <button type="submit"> Guardar </button>

    </form>
</body>

</html>
