<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Borrar Registro de fruta </title>
</head>
<body>
    <h1> Fruta a borrar: </h1>
    <h3> ¿Seguro que desea eliminar este registro? </h3>
    <form action="/eliminar/{{fruta2.0}}" method="POST">

        <input type="text" name="txtFruta" value="{{fruta2.1}}" disabled>
        <input type="text" name="txtTemporada" value="{{fruta2.2}}" disabled>
        <input type="number" name="txtPrecio" value="{{fruta2.3}}" disabled>
        <input type="number" name="txtStock" value="{{fruta2.4}}" disabled>
        <br><br>
        <button type="submit"> Eliminar </button>
    </form>
    <br>
    <form action="/consulta">
        <button type="submit"> Cancelar </button>
    </form>
</body>
</html>