<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Editar Registro de Fruta </title>
</head>
<body>

    <h1> Fruta a actualizar: </h1>

    <form action="/actualizar/{{fruta.0}}" method="POST">

        <input type="text" name="txtFruta" value="{{fruta.1}}">
        <input type="text" name="txtTemporada" value="{{fruta.2}}">
        <input type="number" name="txtPrecio" value="{{fruta.3}}">
        <input type="number" name="txtStock" value="{{fruta.4}}">
        <br><br>
        <button type="submit"> Actualizar </button>

    </form>
    <br>
    <form action="/consulta">
        <button type="submit"> Regresar </button>
    </form>
</body>
</html>