.alinearCentro { 
    position: fixed;
    top: 15%;
    left: 28%;
}

.fuente{
    color: #201976;
    text-align: center;
}

.fuente2{
    color:black;
    text-align: center;
    background-color: blueviolet;
    font-family: fantasy;
}